body{
    display: flex;
    justify-content: center;
    align-items: center;
  }

   #appBg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    width: 300px;
    border: 1px solid black;
    border-radius: 15px;
   }

   #appBg form{
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 15px;
   }

   #appBg input[type="textfield"]{
    height: 25%;
    width: 90%;
    cursor: default;
    background-color: black;
    color: white;
   
    margin-bottom: 10px;
    text-align: right;
    font-size: 50px;
    border: 0;
    border-bottom: 1px rgb(255, 255, 255) solid;
    outline: none;
   }

   #appBg input[type="button"],input[type="reset"]{
    
    width: 20%;
    cursor: pointer;
    font-weight: bold;
    color: black;
    font-size: 26px;
    padding: 18px;
    margin: 3px;
    border: 0;
    border-radius: 100%;
   }

   
   #appBg input[type="button"]:hover{
    
    background: white;
    color: black !important;
    transition: 0.5s;
   }


   #appBg .orange{
    background: orange;
    color: white !important;
   }

   #appBg .gray{
    background: rgb(65, 65, 65);
    color: white !important;
   }

   #appBg .red{
    background: rgb(244, 47, 47);
    color: white !important;
   }

   #appBg .green{
    background:rgb(5, 151, 22);
    color: white !important;
   }